/*=======================================================================================*/
/* Smaller than standard 960 (devices and browsers) */
/*=======================================================================================*/
@media only screen and (max-width: 1024px) {
#wrapper.boxed {
	width: 100%;
	margin: 0px;
	border: none;
}
#wrapper > #header .hBottom {
	max-width: 940px;
	border-left: 1px solid #EAEAEA;
}
#wrapper > #header .hBottom .columns {
	max-width: 940px;
	margin-left: 0px;
	margin-right: 0px;
}
}
/*=======================================================================================*/
/* Tablet Portrait size to standard 960 (devices and browsers) */
/*=======================================================================================*/
@media only screen and (max-width: 959px) {
.mobileMenu {
	display: block;
	width: 100%;
	border: 1px solid #e5e5e5;
	outline: none;
	cursor: pointer;
}
#menu {
	display: none;
}
#wrapper > #header .hBottom {
	padding-top: 20px;
	border-left: none !important;
}
.blog .post {
	margin-bottom: 30px;
}
}
/*=======================================================================================*/
/* All Mobile Sizes (devices and browser) */
/*=======================================================================================*/
@media only screen and (max-width: 767px) {
.tab {
	margin: 0;
	padding: 0;
	display: block;
	zoom: 1;
	border: 1px solid #E5E5E5;
	border-bottom: none;
	top: 0px;
	position: relative;
	z-index: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-o-border-radius: 3px;
	–ms–border-radius: 3px;
	border-radius: 3px;
}
.tab:first-child {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-khtml-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	–ms–border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.tab:last-child {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-khtml-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	–ms–border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.tab a {
	display: block;
	padding: 7px 12px;
	color: #787F89;
	font-weight: 600;
}
.tab a.active, .tab a:hover {
	color: #1d1f21;
}
.tab.active {
	background: #fff;
	position: relative;
	z-index: 3;
}
.tab-container .panel-container {
	border-top: 1px solid #E5E5E5;
	padding: 20px 0 0 0;
	position: relative;
	z-index: 1;
}
.panel-container {
	margin-bottom: 10px;
}


.blog-post .post-content {
	margin-left: 0px;
	border-left: none;
	padding-left: 0px;
}
.filter li {
	text-align: center;
	display: block;
	margin-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.filter li a {
	padding-bottom: 0px;
}
#header .hMiddle .hSearchbox {
	margin-top: 30px;
}
.touchcarousel .arrow-holder {
	display: none !important;
	height: 0;
	width: 0;
}
.portfolio img {
	width: 100%;
}
#header .hTop ul li {
	margin-right: 0;
	float: none;
}
#footer .columns, #footer .column {
	margin-bottom: 20px;
}
#copyright .copy-info, #copyright .copy-social {
	text-align: center !important;
}
.nivo-caption, #main-slider .caption, .blog-post .post-meta {
	display: none !important;
}
#copyright .social-icons {
	margin-bottom: 20px;
}
}
/*=======================================================================================*/
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/*=======================================================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
/*=======================================================================================*/
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/*=======================================================================================*/
@media only screen and (max-width: 479px) {
#header .hTop {
	text-align: center;
}
#contact-human p {
	font-weight: 600;
	width: 100%;
	margin: 0 0 15px 0;
	float: none;
	display:block;
}
#contact-human div {
	float: none;
	width: 100%;
}
#contact-human label {
	width: 30%;
	float: left;
}
#contact-human img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-o-border-radius: 3px;
	–ms–border-radius: 3px;
	border-radius: 3px;
}
#contact-human input {
	width: 70%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
}
